.form__container {
    width: 80%;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    border: 1px solid #e0e0e0;
    background-color: #d11ba4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form__label {
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
    color: #5500ff;
}

.text__input,
.email__input,
.url__input,
.tel__input,
.textarea__input,
.select__input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #fff;
    font-size: 16px;
}

.radio__input {
    margin-right: 0.5em;
}

.textarea__input {
    height: 80px;
    resize: vertical;
}

.submit__button,
.reset__button {
    padding: 0.7em 1.5em;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 1em;
    font-size: 16px;
}

.reset__button {
    background-color: #6c757d;
}

.submit__button:hover,
.reset__button:hover {
    opacity: 0.8;
}
